
 body {
    background-image: url("../images/bgimage.jpg");
  /*  background-color:blueviolet; */
    background-image:repeat;
    /* background-blend-mode: ; */
   /* adding:4em; */
    /* box-shadow: */
     
} 

nav{
    border-style:solid;
    border-width:5px;
    border-color: rgb(23, 2, 37);
}

.navbar{
    position:fixed;
    top:0;
    right:0;
    width:100%;
    background-color:gold;
    z-index:300;
}

.navbar a {
    border-radius:95%;
    background-color:purple;
    float:right;
    color:silver;
    text-decoration:none; 
    padding:8px; 
    /*only work if .navbar button has a .hover*/
    transform: translateY(4px);
}
.navbar a:hover {
    color:black;
}
#red{
    box-shadow: 0 5px red;
}
#red:hover{
    background-color:red;
}
#green{
    box-shadow: 0 5px green;
}
#green:hover{
    background-color:green;
}
#blue{
    box-shadow: 0 5px blue;
}
#blue:hover{
    background-color:blue;
}


#purple{
    box-shadow: 0 5px rgb(253, 142, 253);
    border-radius:95%;
    background-color:purple;
    float:left;
    color:silver;
    text-decoration:none; 
    padding:8px; 
    /*only work if .navbar button has a .hover*/
    transform: translateY(4px);
}

#purple:hover{
    color: black;
    background-color: grey;
}

 
main {
    margin:60px auto;
    border-style: inset;
    border-color: indigo;
    box-sizing: border-box;
    padding-top:20px;
   /*padding-right:20px;*/
    padding-bottom:20px;
    padding-left:20px;
    background-color:white;
    width: 60%;
    overflow-y:scroll;
}

#main_portfolio {
    width:85%;
}

main img {
    height:100%;
    max-height:350px;
    width:100%;
    max-width:350px;
}

#Image {
    float:left;
    padding:0px 20px 20px 0px;
    height:100%;
    width:60%;
    max-width:300px;
}

article{
    width:90%;
    padding-right:0px;
    /* font-size:1.5vw; */
    overflow:scroll;
}

h1{
    text-decoration-color: goldenrod;
    text-decoration:double overline;
    font-size: 3vw;
    
}

/*for now, I like the professional look of only the overline*/
h1 span{
    text-decoration:double underline;
    text-decoration-color: indigo;
}




/*might change to css sprites for links on images and hover*/
.overlay {    
    position:absolute;
    top: 0%;
    bottom: 0%;
    /*this fixed the overlay image being too far to the left. changing "left:100;right:50;" does the same thing*/
    left: 50;
    right: 100;
    opacity: 0;
    transition: .5s ease;
    background-color: #33042b;
     width:350px;
    height:350px; 
  }
  
.overlay:hover {
    opacity: 0.9;
    padding-left:20px;
  }
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: underline;
  }


  footer{
    position:fixed;
    bottom:0;
    right:5%;
    text-align:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:gold;
    border-style:solid;
    border-width:2px;
    border-color: rgb(23, 2, 37);
    padding:2px 2px 0px 2px;
}

/*footer section{
    background-color:gold;
    border-style:solid;
    border-width:5px;
    border-color: rgb(23, 2, 37);
}*/

  @media screen and (max-width:768px) {
    .left, .main, .right {
      width:100%; 
    }
}

/*@media only screen and (max-width: 1265px) {
    body {
     
    }
  }
for semantic reasons*/
h6{
    visibility:hidden;
} 